@using EHWaterQuality.ViewModels
@model RequestEditViewModel
@{
    ViewBag.Title = "Edit / New Request";
}

<!-- BEGIN PAGE CONTENT -->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="row">
        @using (Html.BeginForm("Edit", "Request", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
        {
            <div class="row">
                <label class="control-label col-md-2"><span class="required"> * </span>Request Group</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(m => m.SelectedRequestGroup, Model.RequestGroups, "- Please Select -", new { id = "requestGroups" })
                    <span style="color:red">@Html.ValidationMessageFor(model => model.SelectedRequestGroup)</span>
                    @Html.HiddenFor(m => m.RequestID)
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <label class="control-label col-md-2"><span class="required"> * </span>Location Group</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(m => m.SelectedLocationGroup, Model.LocationGroups, "- Please Select -", new { id = "locationGroups" })
                    <span style="color:red">@Html.ValidationMessageFor(model => model.SelectedLocationGroup)</span>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <label class="control-label col-md-2"><span class="required"> * </span>Test Group</label>
                <div class="col-md-6">
                    @Html.DropDownListFor(m => m.SelectedTestGroup, Model.TestGroups, "- Please Select -", new { id = "testGroups" })
                    <span style="color:red">@Html.ValidationMessageFor(model => model.SelectedTestGroup)</span>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <button type="submit" class="btn blue">Save</button>
                    <button type="button" class="btn blue" id="back">Back</button>
                </div>
            </div>
        }
    </div>
    @section PageLevelScripts {
        <script>
            $(document).ready(function () {
                $("#back").on('click', function () {
                    var model = @Html.Raw(Json.Encode(Model));
                    var id = model.RequestID;
                    var url = '@Url.Action("Index", "Request", new { ID = "_id_" })'.replace('_id_', id);
                    window.location.href = url;
                })
            })
        </script>
    }
</body>
</html>
<!-- END PAGE CONTENT -->

