@using EHWaterQuality.ViewModels
@model TestGroupDeleteViewModel
@{
    ViewBag.Title = "Delete Test Group";
}

<!-- BEGIN PAGE CONTENT -->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="form-body">
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-md-2">Test Group Description</label>
                    <div class="col-md-6">
                        @Html.DisplayFor(model => model.TestGroupDescription)
                        @Html.HiddenFor(model => model.TestGroupDescription)
                        @Html.HiddenFor(model => model.TestGroupID)
                        @if (Model.ShowMessageDescription == true)
                        {
                            <span style="color:red">@Html.DisplayFor(m => m.MessageDescription)</span>
                        }
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn blue" id="delete">Delete</button>
                        <button type="button" class="btn blue" id="back">Back</button>
                    </div>
                    <br />
                    <br />
                </div>
            </div>
        </div>
    }
    @section PageLevelScripts {
        <script>
            $(document).ready(function () {

            })

            $('#back').click(function () {
                var model = @Html.Raw(Json.Encode(Model));
                var id = model.TestGroupID;
                var url = '@Url.Action("Index", "TestGroup", new { ID = "_id_" })'.replace('_id_', id);
                window.location.href = url;
            })
        </script>
    }
</body>
</html>
<!-- END PAGE CONTENT -->
