@using EHWaterQuality.ViewModels
@model FacilityEditViewModel
@{
    ViewBag.Title = "Edit / New Facilities";
}

<!-- BEGIN PAGE CONTENT -->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="row">
        @using (Html.BeginForm("Edit", "Facility", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
        {
            <label class="control-label col-md-2"><span class="required">* </span>Title</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Title)
                @Html.HiddenFor(model => model.ID)
                <span style="color:red">@Html.ValidationMessageFor(model => model.Title)</span>
                @if (Model.ShowMessageTitle == true)
                {
                    <span style="color:red">@Html.DisplayFor(m => m.MessageTitle)</span>
                }
            </div>
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <button type="submit" class="btn blue">Save</button>
                    <button type="button" class="btn blue" id="back">Back</button>
                </div>
            </div>
        }
    </div>
    @section PageLevelScripts {
        <script>
            $(document).ready(function () {
                $("#back").on('click', function () {
                    var model = @Html.Raw(Json.Encode(Model));
                    var id = model.ID;
                    var url = '@Url.Action("Index", "Facility", new { ID = "_id_" })'.replace('_id_', id);
                    window.location.href = url;
                })
            })
        </script>
    }
</body>
</html>
<!-- END PAGE CONTENT -->
